///==================
//00. Color CSS
//==================

%primary-color{
	color: $primary-color;
}
%primary-bg-color{
	background-color: $primary-color;
}
%primary-border-color{
	border-color: $primary-color;
}
%secondary-color{
	color: $secondary-color;
}
%secondary-bg-color{
	background-color: $secondary-color;
}
%secondary-border-color{
	border-color: $secondary-color;
}
%white-color{
	color: $color-white;
}
%white-bg-color{
	background-color: $color-white;
}
%black-color{
	color: $color-black;
}
%black-bg-color{
	background-color: $color-black;
}
%white-border-color{
	border-color: $color-white;
}
%body-color{
	color: $body-color;
}
// %body-bg{
// 	background-color: $bg-color;
// }


%lightblue-color{
	color: #F0F8FF;
}
%lightblue-bg-color{
	background-color: #F0F8FF;
}

