//============//
// Helper CSS//
//============//

// border elements
%bgtransparent{
	background: transparent;
}
%borderradius0{
	border-radius: 0px;
}
%borderradius3{
	border-radius: 3px;
}
%borderradius5{
	border-radius: 5px;
}
%borderradius50{
	border-radius: 50px;
}
%borderradiusfiftypercent{
	border-radius: 50%;
}
%borderzero{
	border: 0;
}
%imagezommin{
	@include transform(scale3d(1.05, 1.05, 1.05));
}
%sectionpadding{
	padding: 70px;
}
%margin0auto{
	margin: 0 auto;
	display: block;
}

// Display elements
%displayflex{
	display: flex;
}
%flexdir{
	flex-direction: column;
}
%justifycenter{
	justify-content: center;
}
%justifybetween{
	justify-content: space-between;
}
%alignitemscenter{
	align-items: center;
}
%displayblock{
	display: block;
}
%displaynone{
	display: none;
}
%displayinline{
	display: inline-block;
}
%dtable{
	display: table;
}
%dtablecell{
	display: table-cell;
}

// Position elements
%posrelative{
	position: relative;
}
%posabsolute{
	position: absolute;
}
%posfixed{
	position: fixed;
}
%pseudo{
	position: absolute;
	content: "";
}
%pseudoabsolute{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

%backgroundimage{
	background-size: cover;
	background-position: center;
	background-color: #ddd;
}
%zindex2{
	z-index: 2;
}
%basetransition1{
	@include transition(all .3s ease);
}
%basetransition2{
	@include transition(all .5s ease);
}
%basetransition3{
	@include transition(all .7s ease);
}
%invisible{
	visibility: hidden;
	opacity: 0;
}
%visible{
	visibility: visible;
	opacity: 1;
}
%opacity7{
	opacity: 0.7;
}
%uppercase{
	text-transform: uppercase;
}
%capitalize{
	text-transform: capitalize;
}
%w100{
	width: 100%;
}
%h100{
	height: 100%;
}
%overflowhidden{
	overflow: hidden;
}
%textleft{
	text-align: left;
}
%textcenter{
	text-align: center;
}
%textright{
	text-align: right;
}
%floarleft{
	float: left;
}
%floarright{
	float: right;
}
// %borderradius50{
// 	border-radius: 50%;
// }
%cursorpointer{
	cursor: pointer;
}

// Fonts
%body-font{
	font-family: $body-font;
}




%roundicon{
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	display: inline-block;
}
%fontweight700{
	font-weight: 700;
}

%fontAwesome{
	position: absolute;
	font-family: fontAwesome;
	line-height: 1;
}

