//========Variables CSS========//

//===== Colors =====//

$body-color: #191c22;
$primary-color: #000000;
// $primary-color-darken: darken($primary-color, 23%);
$secondary-color: #E3A900;
// $bg-color: #484848;

//===== Font-Family =====//
$body-font: 'Poppins', sans-serif;
$title-font: 'Roboto Slab', serif;

// ===== Font-Size ======//
$body-font-size: 1rem;

// ===== Line-Height ===== //
// $body-line-height: 1.5;

// ===== Border-Color ===== //
$border-color: #D6D6D6;

//==== Color =====//
$color-white:    	   #ffffff;
$color-black:    	   #000000; 
$color-blue:     	   #2874f0;
$color-yellow:         #ffe11b;
$color-red:            #ea4a30;
$color-green:          #4cbb6c;
$color-gray:           #f5f5f5;
$color-orange:         #F39C11;

//==== Social Color =====//
$facebook-color:    #3b579d;
$twitter-color:     #3acaff;
$google-plus-color: #dd4b39;
$linkedin-color:    #0097bd;
$pinterest-color:   #cb2027;
$instagram-color:   #833ab4;
$skype-color:       #00aff0;
$share-color:       #fe6d4c;
$dribble-color:     #DD4B80;
$behance-color:     #005CFF;


