.valuation-detail-content-header {
    margin: 20px 0 50px;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
    @include all-mx-mobile{
        margin: 20px 0 30px;
    }
    ul {
        @include all-mx-mobile{
            margin: 20px 0 0;
        }
        li {
            display: inline-block;
            padding: 13px 20px;
            font-weight: 500;
            position: relative;
            @include all-mx-mobile{
                padding: 13px 5px;
                font-size: 13px;
            }
            &.active:after {
                position: absolute;
                left: 0;
                bottom: -11px;
                content: "";
                width: 100%;
                height: 5px;
                @extend %primary-bg-color;
            }
        }
    }
}
.valuation-detail-content-inner {
    padding-bottom: 30px;
    .single-valuation-detail{
        &.car {
            flex-basis: 26%;
            @include all-below-med{
                flex-basis: 100%;
                margin-bottom: 15px;
            }
        }
        &.table-content {
            flex-basis: 37%;
            padding-left: 30px;
            @include all-below-med{
                flex-basis: 50%;
                padding-left: 0;
                padding-right: 30px;
            }
            @include all-mx-mobile{
                flex-basis: 100%;
                padding-right: 0;
            }
            tr {
                td {
                    border: 0;
                    padding: 5px 0;
                    font-size: 14px;
                    span{
                        font-weight: 600;
                    }
                    &:first-child {
                        width: 120px;
                        @include mx-desktops{
                            width: 90px;
                        }
                        @include all-below-med{
                            width: 90px;
                        }
                        @include all-mx-mobile{
                            width: 110px;
                        }
                    }
                    &:last-child{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
.valuation-detail-content{
    .box-content {
        background-color: #E3A900;
        width: 500px;
        margin: 0 auto;
        padding: 30px;
        border-radius: 5px;
        color: #fff;
        margin-bottom: 10px;
        @include  all-below-mobile-lg{
            width: 100%;
        }
        .boxed-btn:hover{
            color: #fff;
            border-color: #fff;
        }
        img {
            max-width: 200px;
            margin-bottom: 15px;
        }
    }
}

#errorMsg { width: fit-content; padding: 4px 10px; color: #fff; display:none; }
#errorMsg.stepOne { border-radius: 5px; margin-bottom: 7px; }

