.finance-area.finance-style-2{
    background-color: #525252;
    @include mx-large-desktops{
        .col-xl-3{
            padding-left: 0;
        }
    }
    @include mx-desktops{
        .col-lg-3, .col-xl-3{
            padding-left: 0;
        }
    }
    .nav-tabs{
        position: relative;
        z-index: 1;
        margin-bottom: -15px;
    }
    .tab-content{
        position: relative;
        z-index: 3;
    }
    .question-box {
        padding: 15px 20px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-bottom: 15px;
        @include all-below-mobile-lg{
            flex-wrap: wrap;
        }
        h6{
            margin: 0;
            color: #C4C4C4;
            font-weight: 400;
            @include all-below-mobile-lg{
                margin-bottom: 10px;
            }
            span {
                font-weight: 600;
                color: #fff;
            }
        }
        .payment-method {
            padding: 0;
            @include all-below-mobile-lg{
                justify-content: space-between;
                width: 100%;
            }
            .switch {
                width: 120px;
                height: 40px;
                margin: 0 auto;
            }
            .switcher-btn {
                width: 120px;
                background: #fff;
                color: #000;
                height: 40px;
                margin-right: 20px;
                @include mx-desktops{
                    margin-right: 10px;
                }
                @include all-below-mobile-lg{
                    margin-left: 0;
                }
            }
            .switch-slider {
                color: #000;
                font-size: 14px;
                background: transparent;
                &:before {
                    width: 60px;
                    height: 30px;
                    bottom:-10px;
                    @extend %secondary-bg-color;
                    transform: translateX(15px);
                }
            }
            .cash {
                left: -31px;
                top: 0px;
                width: 60px;
                height: 30px;
                padding: 5px 5px 5px 17px;
                transition: all .5s ease;
                &.add{
                    @extend %white-color;
                }
            }
            .monthly {
                right: -25px;
                top: 0px;
                width: 60px;
                height: 30px;
                left: auto;
                padding: 5px 0 0 20px;
                transition: all .5s ease;
                &.add{
                    @extend %white-color;
                }
            }
            input:checked+.switch-slider:before {
                transform: translateX(-31px);
            }
            .boxed-btn {
                min-width: auto;
                padding: 9px 38px 8px 20px;
                @extend %secondary-bg-color;
                @include mx-desktops{
                    padding: 9px 35px 8px 15px;
                }
                &:hover {
                    background: #525252;
                }
                i {
                    right: 20px;
                    top: 19px;
                }
            }
        }
    }
    // .single-table-item
    .single-table-item {
        min-height: 640px;
        border: 0;
        background: #fff;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 20px;
        .table-striped {
            tr:nth-of-type(even) {
                background-color: #ffffff;
            }
            tr:nth-of-type(odd) {
                background-color: #E5E5E5;
            }
        }
        .table {
            tr {
                display: flex;
                height: 46px;
                @include all-mx-mobile{
                    height: auto;
                    justify-content: space-between;
                }
                td {
                    padding: 14px 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
                label{
                    margin-left: 5px;
                }
                input[type=checkbox]+label:before{
                    width: 35px;
                    height: 35px;
                    margin: -8px 0px 0 0;
                    border-radius: 8px;
                    border: 1px solid #C2C2C2;
                }
                input[type=checkbox]:checked+label:before{
                    font-size: 18px;
                    padding-top: 11px;
                    color: #fff;
                    @extend %secondary-bg-color;
                    @extend %secondary-border-color;
                }
                td:nth-child(1) {
                    width: 100%;
                    @include all-mx-mobile{
                        width: auto;
                    }
                }
                td:nth-child(2) {
                    width: 200px;
                    text-align: right;
                    @include mx-large-desktops{
                        width: 220px;
                    }
                    @include mx-desktops{
                        width: 250px;
                    }
                    @include all-below-med{
                        width: 250px;
                    }
                    @include all-below-mobile-lg{
                        width: 200px;
                    }
                    @include all-mx-mobile{
                        width: auto;
                    }
                }
                td:nth-child(3) {
                    width: 200px;
                    text-align: right;
                    @include all-below-mobile-lg{
                        width: 170px;
                        padding-left: 0;
                    }
                    @include all-mx-mobile{
                        width: auto;
                    }
                }
            }
        }
        .boxed-btn.click-btn {
            padding: 9px 20px 8px;
            min-width: auto;
            font-weight: 600;
            position: relative;
            top: -11px;
            @include all-below-mobile-lg{
                padding: 9px 5px 8px;
            }
            @include all-mx-mobile{
                width: 80px;
                top: 0px;
            }
            i{
                position: relative;
                right: 0;
                top: 0;
                font-size: 14px;
                margin-left: 3px;
            }
            &:hover{
                @extend %primary-bg-color;
            }
        }
        .table-header-content {
            color: #1d1c1c;
            background: #fff;
            padding: 19px 18px 12px;
            font-size: 16px;
            text-transform: uppercase;
            .left span{
                font-weight: 700;
            }
            strong {
                font-weight: 600;
            }
        }
        .table-striped {
            tr.header-content {
                background-color: #292929;
                height: 55px;
                td {
                    color: #fff;
                    padding: 17px 18px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }
        }
    }
    .nav-tabs {
        border: 0;
        .nav-link {
            border: 0;
            background: #3C3C3C;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 17px 25px 30px;
            border-radius: 5px 5px 0 0;
            @include all-below-mobile-lg{
                padding: 13px 10px 25px;
                font-size: 14px;
            }
        }
        .nav-item {
            margin: 0 8px 0 0;
        }
        .nav-link:hover, .nav-link.active {
            @extend %secondary-bg-color;
            color: #fff;
        }
    }
    // finance-sidebar
    .finance-sidebar {
        padding: 30px 20px 10px;
        position: relative;
        margin-bottom: 50px;
        z-index: 2;
        border-radius: 10px;
        @include all-below-med{
            margin-bottom: 65px;
        }
        &:after{
            position: absolute;
            left: 0;
            bottom: -19px;
            width: 100%;
            height: 44px;
            background: #000;
            content: "";
            transform: skew( 0deg, 4deg);
            z-index: -1;
            border-radius: 0 0 10px 10px;
            @include all-below-med{
                bottom: -25px;
                height: 60px;
            }
        }
        h4 {
            font-weight: 600;
            font-size: 21px;
            text-transform: uppercase;
            position: relative;
            margin-bottom: 24px;
            @include mx-large-desktops{
                font-size: 18px;
            }
            .boxed-btn {
                position: absolute;
                right: 0;
                top: -8px;
                min-width: auto;
                padding: 11px;
                @extend %secondary-bg-color;
                @include mx-large-desktops{
                    padding: 11px 5px;
                }
                &:hover{
                    background-color: #525252;
                }
            }
        }
        .gray-box {
            background: #292929;
            border-radius: 15px;
            padding: 20px;
            text-align: center;
            margin-bottom: 25px;
            h3 {
                font-weight: 600;
                font-size: 27px;
                text-transform: uppercase;
                @extend %secondary-color;
                span {
                    font-size: 14px;
                    color: #bfbfbf;
                }
            }
            .percentage {
                background: #000;
                padding: 10px;
                border-radius: 10px;
                margin: 0 0 10px;
            }
            h6 {
                font-size: 13px;
                font-weight: 600;
                margin: 0;
                i {
                    @extend %secondary-color;
                    font-size: 20px;
                    margin-left: 5px;
                    position: relative;
                    bottom: -2px;
                }
            }
        }
        // .btn-group-box
        .btn-group-box{
            .boxed-btn{
                @include mx-large-desktops{
                    padding: 15px 15px 15px 20px;
                }
                &.sid-btn {
                    min-width: auto;
                    width: 100%;
                    margin-bottom: 10px;
                    &.quote {
                        background: transparent;
                        @extend %secondary-border-color;
                        @extend %white-color;
                        &:hover {
                            @extend %secondary-bg-color;
                            // @extend %secondary-border-color;
                        }
                    }
                    &.reserve{
                        @extend %secondary-bg-color;
                        @extend %secondary-border-color;
                        // &:hover {
                        //     background: #292929;
                        //     @extend %secondary-border-color;
                        // }
                    }
                }
            }
        }
        .single-finance-dropdown {
            padding-right: 0;
            flex-basis: 100%;
            margin-top: 0;
            margin-bottom: 70px;
            label {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 600;
                margin: 0;
            }
            .nice-select {
                background: transparent;
                color: #fff;
                border-bottom: 1px solid #fff;
                padding-left: 0;
                padding-right: 0;
                font-size: 14px;
                text-transform: capitalize;
                .list {
                    color: #191c22;
                }
            }
        }
    }
    .talk-to-us-box {
        padding: 10px 20px 25px;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        @extend %secondary-bg-color;
        @include all-below-med{
            margin-bottom: 20px;
        }
        &:after{
            position: absolute;
            left: 0;
            top: -20px;
            width: 100%;
            height: 60px;
            @extend %secondary-bg-color;
            content: "";
            z-index: -1;
            transform: skew( 0deg, 4deg);
            border-radius: 10px 10px 0 0;
            @include all-below-med{
                top: -30px;
            }
        }
        h5 {
            font-size: 16px;
            margin-bottom: 20px;
            text-transform: uppercase;
        }
        a {
            opacity: .9;
            margin-right: 30px;
            @include mx-large-desktops{
                margin-right: 20px;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                @extend %primary-color;
                opacity: 1;
            }
        }
    }
    .finance-btns{
        padding-top: 0;
        .boxed-btn{
            @extend %secondary-border-color;
            @extend %secondary-bg-color;
            @extend %white-color;
            &:hover{
                color: #fff;
                background: #000;
                border-color: #000;
            }
        }
    }
}