/*================Home Page CSS===============*/
.homepage-slider-area, .single-slide-item{
    height: 670px;
    @include all-below-med{
        height: 450px;
    }
    @include all-below-mobile-lg{
        height: 330px;
    }
}
.homepage-slider-area {
    .single-slide-item {
        @extend %backgroundimage;
        @extend %zindex2;
        &:after{
            @extend %pseudo;
            @extend %w100;
            @extend %h100;
            left: 0;
            top: 0;
            background-color: #000000;
            z-index: -1;
            opacity: .3;
        }
        .slide-content{
            margin-top: 180px;
            @include all-below-med{
                margin-top: 100px;
            }
            @include all-below-mobile-lg{
                margin-top: 40px;
            }
            h2 {
                @extend %white-color;
                font-size: 44px;
                font-family: $title-font;
                @include mx-desktops{
                    font-size: 35px;
                    margin-bottom: 20px;
                    line-height: 1.3;
                }
                @include all-below-med{
                    font-size: 36px;
                    margin-bottom: 20px;
                }
                @include all-below-mobile-lg{
                    font-size: 30px;
                    margin-bottom: 15px;
                }
            }
            .slide-text {
                @extend %primary-bg-color;
                @extend %white-color;
                width: 490px;
                font-size: 21px;
                padding: 10px 15px;
                .covid {
                    color: #ea321a;
                    font-weight: 700;
                }
                @include all-below-mobile-lg{
                    width: 100%;
                }
            }
            .boxed-btn {
                margin-top: 15px;
				min-width: unset;
                @extend %secondary-border-color;
                @extend %secondary-bg-color;
                @extend %primary-color;
                @extend %borderradius50;
                padding: 16px 35px;
                @include all-below-med{
                    margin-top: 15px;
                    padding: 12px 30px;
                }
                @include all-below-mobile-lg{
                    padding: 10px 25px;
                    font-size: 13px;
                }
                &:hover{
                    @extend %primary-border-color;
                    @extend %primary-bg-color;
                    @extend %white-color;
                }
            }
        }
    }
    .owl-dots {
        @extend %posabsolute;
        left: 0;
        right: 0;
        bottom: 30px;
        @include all-below-mobile-lg{
            bottom: 15px;
        }
        div{
            @include all-below-mobile-lg{
                height: 15px;
                width: 15px;
            }
        }
    }
    .owl-nav div {
        @extend %white-color;
        @extend %primary-bg-color;
        left: 0px;
        line-height: 80px;
        margin-top: -40px;
        width: 45px;
        height: 80px;
        font-size: 40px;
        padding-right: 5px;
        border-radius: 0 5px 5px 0;
        @include all-below-med{
            // line-height: 49px;
            // margin-top: -25px;
            // width: 35px;
            // height: 50px;
            // font-size: 40px;
            display: none;
        }
        // @include all-below-mobile-lg{
        //     display: none;
        // }
        &.owl-next {
            left: auto;
            right: 0px;
            padding-left: 5px;
            padding-right: 0;
            border-radius: 5px 0px 0px 5px;
        }
        &:hover {
            @extend %white-color;
            @extend %secondary-bg-color;
        }
    }
}
/* Owl Carousel Content animation */
.owl-carousel {
    @extend %displaynone;
    @extend %posrelative;
    @extend %w100;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel.owl-loaded {
    @extend %displayblock;
}
.owl-carousel .owl-stage {
    @extend %posrelative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage::after {
    @extend %displayblock;
    height: 0;
    clear: both;
    line-height: 0;
    content: '.';
    visibility: hidden;
}
.owl-carousel .owl-stage-outer {
    @extend %posrelative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}  
// Fade In Up keyframes
@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 40%, 0);
      transform: translate3d(0, 40%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 40%, 0);
      transform: translate3d(0, 40%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
.homepage-slider-area .owl-item.active .fade-up{
    animation: fadeInUp 1.5s 1;
}



// .stock-search-area
.stock-search-area {
    @extend %primary-bg-color;
    padding: 33px 0 38px;
    @include all-below-med{
        padding: 25px 0 30px;
    }
    .single-stock-search {
        @extend %white-color;
        h3 {
            font-size: 30px;
            margin-bottom: 5px;
            @extend %capitalize;
            @include all-below-med{
                font-size: 28px;
            }
        }
        label {
            @extend %white-color;
            font-weight: 500;
            font-size: 14px;
        }
        .boxed-btn {
            @extend %textcenter;
            @extend %primary-color;
            @extend %secondary-border-color;
            @extend %secondary-bg-color;
            padding: 13px 25px 12px;
            @include mx-desktops{
                min-width: auto;
            }
            @include all-below-med{
                min-width: auto;
            }
            @include mx-mobile-lg{
                padding: 13px 15px 12px;
            }
            @include all-mx-mobile{
                span{
                    display: none;
                }
                padding: 13px 18px 12px;
                width: 100%;
            }
            &:hover {
                @extend %bgtransparent;
                @extend %secondary-color;
                @extend %secondary-border-color;
            }
            i {
                margin: 0 3px 0 0px;
                font-size: 16px;
                @extend %posrelative;
                left: 0;
                top: 0;
            }
        }
        &.title {
            @extend %uppercase;
            font-size: 14px;
            flex-basis: 25%;
            @include all-below-med{
                flex-basis: 100%;
                margin-bottom: 15px;
            }
        }
        &.select-make {
            flex-basis: 50%;
            @include all-below-med{
                flex-basis: 65%;
            }
            @include mx-mobile-lg{
                flex-basis: 60%;
            }
            @include all-mx-mobile{
                flex-basis: 80%;
            }
        }
        &.search-btn {
            flex-basis: 25%;
            @include all-below-med{
                flex-basis: 35%;
            }
            @include mx-mobile-lg{
                flex-basis: 40%;
            }
            @include all-mx-mobile{
                flex-basis: 20%;
            }
        }
    }
}

// services-area
.services-area {
    padding-bottom: 110px;
    @include all-below-med{
        padding-bottom: 50px;
    }
    @include all-below-mobile-lg{
        padding-bottom: 30px;
    }
    .service-bg {
        height: 370px;
        @extend %backgroundimage;
        @include all-below-mobile-lg{
            height: 270px;
        }
    }
    .single-service-photo {
        a, img{
            @extend %w100;
        }
    }
    .service-content {
        margin: 45px 0 0 40px;
        font-size: 18px;
        @include all-below-med{
            margin: 30px 0 50px;
        }
        .section-title {
            h2 {
                margin-bottom: 20px;
                @include all-below-med{
                    margin-bottom: 10px;
                }
            }
        }
        .boxed-btn {
            margin-top: 15px;
        }
        &.left-content{
            margin: 60px 90px 0 0px;
            @include all-below-med{
                margin: 30px 0 50px;
            }
        }
    }
    .section-shape {
        bottom: -190px;
        @include mx-desktops{
            bottom: -179px;
        }
        @include all-below-med{
            bottom: -102px;
        }
        @include all-below-mobile-lg{
            bottom: -69px;
        }
        @include all-mx-mobile{
            bottom: -56px;
        }
    }
}


// reviews-area
.reviews-area{
    @extend %primary-bg-color;
    padding: 120px 0 100px;
    @include all-below-med{
        padding: 80px 0 50px;
    }
    @include all-mx-mobile{
        padding: 60px 0 50px;
    }
    .section-title {
        @extend %white-color;
        margin-bottom: 70px;
        @include all-below-med{
            margin-bottom: 30px;
        }
        h2 {
            @extend %white-color;
        }
    }
    .trustpilot-logo {
        @extend %posabsolute;
        left: 0;
        right: 0;
        top: -125px;
        z-index: 3;
        @include mx-desktops{
            top: -135px;
        }
        @include all-below-med{
            top: -110px;
        }
        @include all-below-mobile-lg{
            top: -95px;
        }
        img{
            @include all-below-med{
                max-width: 190px;
            }
            @include all-below-mobile-lg{
                max-width: 140px;
            }
        }
    }
    .single-review-item {
        @extend %white-bg-color;
        padding: 20px 22px 25px 23px;
        font-size: 13px;
        line-height: 1.6;
        @include all-below-med{
            padding: 20px 15px 20px 15px;
        }
        h4 {
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 12px;
        }
        h5 {
            font-size: 16px;
            margin: 0;
            @include mx-tablet{
                font-size: 13px;
            }
        }
        span {
            font-size: 12px;
        }
        .stars {
            margin-bottom: 13px;
        }
        .blog-content { /* TODO what is this? */
            padding: 15px;
			background-color: #ff0000;
        }
    }
}

// .blog-area
.blog-area {
    background: #E6E6E6;
    padding-bottom: 0;
    .section-shape {
        bottom: -80px;
        @include mx-desktops{
            bottom: -69px;
        }
        @include all-below-med{
            bottom: -52px;
        }
        @include all-below-mobile-lg{
            bottom: -39px;
        }
        @include all-mx-mobile{
            bottom: -26px;
        }
    }
    .section-title {
        margin-bottom: 50px;
        @include all-below-med{
            margin-bottom: 30px;
        }
    }
    .blog-content-wrapper{
        padding-bottom: 180px;
        @include all-below-med{
            padding-bottom: 160px;
        }
        @include all-mx-mobile{
            padding-bottom: 180px;
        }
    }
    .single-blog-item {
        @extend %white-bg-color;
        .blog-content {
            padding: 10px;
            .blog-date{
                margin-right: 5px;
            }
			h4 {
				min-height: 80px;
				max-height: 80px;
				overflow: hidden;
			}
            a{
                @extend %body-color;
                &:hover{
                    @extend %secondary-color;
                }
            }
			p {
				min-height: 150px;
				max-height: 150px;
				    overflow-y: hidden;
			}
        }
    }
    .blog-signup-section {
        @extend %posabsolute;
        left: 0;
        right: 0;
        bottom: -35px;
        z-index: 3;
        @include all-below-med{
            bottom: -25px;
        }
        @include all-below-mobile-lg{
            bottom: -10px;
        }
        @include  all-mx-mobile{
            bottom: 0px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 30px;
            @include all-below-med{
                margin-bottom: 20px;
                font-size: 28px;
            }
            @include all-below-mobile-lg{
                margin-bottom: 10px;
                font-size: 26px;
                font-weight: 500;
            }
        }
        .boxed-btn {
            min-width: 225px;
            border-radius: 50px;
            padding: 15px 15px 15px 15px;
            @extend %primary-bg-color;
            @extend %white-color;
            @extend %textcenter;
            @include all-below-mobile-lg{
                min-width: auto;
                padding: 12px 20px 12px 20px;
            }
            &:hover {
                @extend %secondary-bg-color;
                @extend %secondary-border-color;
                @extend %primary-color;
            }
        }
    }
}


// .featured-area
.featured-area {
    @extend %primary-bg-color;
    padding-top: 130px;
    @include all-below-mobile-lg{
        padding-top: 80px;
    }
    .section-title {
        h2 {
            @extend %white-color;
            margin-bottom: 50px;
            @include all-below-med{
                margin-bottom: 30px;
            }
        }
    }
    .single-featured-item {
        @extend %white-bg-color;
        color: #191c22;
        display: block;
        .featured-content{
            .featured-header{
                font-size: 18px;
                font-weight: 300;
                padding: 20px;
                .head-left{
                    padding-right: 20px;
					height: 53px;
					overflow: hidden;
					strong { font-weight: 500;}
                }
                .head-right{
                    width: 110px;
                }
            }
            .results-car-meta{
                .table {
                    margin-bottom: 0;
                    tr:nth-of-type(odd) {
                        background: #F2F2F2;
                    }
                    td {
                        font-size: 13px;
                        @extend %uppercase;
                        border: 0;
                        padding: 10px 20px 10px 44px;
                        @extend %posrelative;
                        &:last-child {
                            @extend %capitalize;
                            font-size: 14px;
                            width: 148px;
                            @include all-mx-mobile{
                                width: 131px;
                            }
                        }
                        img, svg, i{
                            left: 20px;
                            top: 13px;
                            font-size: 14px;
                            width: 16px;
                            @extend %posabsolute;
                            @extend %textcenter;
                        }
                    }
                }
            }
        }
    }
    .featured-btn{
        .boxed-btn {
            @extend %bgtransparent;
            @extend %secondary-color;
            @extend %secondary-border-color;
            margin-top: 40px;
            &:hover {
                @extend %secondary-bg-color;
                @extend %primary-color;
            }
        }
    }
}

// .about-us-video-area
.about-us-video-area {
    @extend %backgroundimage;
    height: 650px;
    @extend %zindex2;
    @include all-below-med{
        height: 400px;
    }
    @include all-below-mobile-lg{
        height: 270px;
    }
    &:after {
        @extend %pseudo;
        left: 0;
        top: 0;
        @extend %w100;
        @extend %h100;
        background-color: #000000;
        z-index: -1;
        opacity: .3;
    }
    .section-title {
        margin-top: 70px;
        @extend %white-color;
        font-size: 21px;
        text-transform: inherit;
        font-weight: 200;
        @include all-below-med{
            margin-top: 30px;
        }
        @include all-below-mobile-lg{
            font-size: 18px;
        }
        h2 {
            @extend %white-color;
        }
    }
}

// .about-us-area
.about-us-area {
    padding: 70px 0 60px;
    font-size: 14px;
    @include all-below-med{
        padding: 50px 0 50px;
    }
    .section-title {
        font-size: 21px;
        font-weight: 200;
        margin-bottom: 40px;
        @include all-below-med{
            margin-bottom: 30px;
        }
        @include all-below-mobile-lg{
            font-size: 18px;
        }
    }
    img {
        margin-bottom: 40px;
    }
    .text-box {
        padding: 30px;
        border: 1px solid #D6D6D6;
        @include all-below-med{
            padding: 20px;
        }
        a {
            font-weight: 700;
            @extend %primary-color;
            &:hover{
                @extend %secondary-color;
            }
        }
    }
}


.stock-search-area.version-2{
    .single-stock-search{
        &.reviews {
            flex-basis: 25%;
            @include mx-desktops{
                flex-basis: 22%;
            }
            @include all-below-med{
                flex-basis: 40%;
                margin-bottom: 15px;
            }
            a {
                @extend %white-color;
                @extend %uppercase;
                @extend %basetransition1;
                font-size: 18px;
                margin-bottom: 8px;
                @include all-below-med{
                    font-size: 16px;
                }
                &:hover{
                    @extend %secondary-color;
                }
            }
            .stars {
                span {
                    font-size: 18px;
                    width: 35px;
                    height: 35px;
                    line-height: 34px;
                    @include mx-desktops{
                        font-size: 13px;
                        width: 25px;
                        height: 25px;
                        line-height: 25px;
                    }
                    @include all-below-med{
                        font-size: 15px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }
                    @include all-mx-mobile{
                        font-size: 12px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        margin-right: 3px;
                    }
                }
            }
        }
        &.title {
            flex-basis: 20%;
            @include mx-desktops{
                flex-basis: 26%;
            }
            @include all-below-med{
                flex-basis: 60%;
            }
            @include all-mx-mobile{
                padding-left: 10px;
            }
        }
        &.select-make {
            flex-basis: 35%;
            @include mx-desktops{
                flex-basis: 30%;
            }
            @include all-below-med{
                flex-basis: 65%;
            }
            @include all-below-mobile-lg{
                flex-basis: 60%;
            }
            @include all-mx-mobile{
                flex-basis: 80%;
            }
        }
        &.search-btn {
            flex-basis: 20%;
            @include mx-large-desktops{
                .boxed-btn {
                    margin-left: 10px;
                }
            }
            @include mx-desktops{
                flex-basis: 22%;
                .boxed-btn {
                    padding: 13px 10px 12px;
                }
            }
            @include all-below-med{
                flex-basis: 35%;
            }
            @include all-below-mobile-lg{
                flex-basis: 40%;
            }
            @include all-mx-mobile{
                flex-basis: 20%;
            }
        }
    }
}