.inner-banner-area {
    &.valuation-page{
        height: 300px;
        .banner-content {
            margin-top: 45px;
        }
    }    
}

// .valuation-form
.valuation-form {
    @extend %secondary-bg-color;
    padding: 50px 50px 30px;
    color: #fff;
    position: relative;
    z-index: 2;
    margin-top: -135px;
    margin-bottom: 40px;
    @include all-below-mobile-lg{
        padding: 30px 20px 30px;
    }
    h2 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 20px;
        @include all-below-mobile-lg{
            font-size: 24px;
        }
        img {
			position: relative;
			top: -3px;
            @include all-below-mobile-lg{
                max-width:200px;
                margin: 0 auto;
                margin-top: 10px;
                display: block;
            }
        }
		img.a { height: 27px; margin-left: 7px; }
		img.c { height: 39px; margin-left: 12px; }
    }
    .bottom-text {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 14px;
        opacity: .9;
        a {
            opacity: 1;
            font-weight: 600;
            &:hover {
                @extend %primary-color;
            }
        }
    }
    .form-wrap {
        display: flex;
        border-bottom: 1px solid #F7919E;
        padding: 0 50px 30px 50px;
        margin-bottom: 30px;
        @include all-below-med{
            flex-wrap: wrap;
        }
        @include all-below-mobile-lg{
            padding: 0 15px 30px 15px;
        }
        .single-form-item {
            flex-basis: 41.5%;
            padding-right: 20px;
            @include  mx-desktops{
                flex-basis: 40%;
            }
            @include all-below-med{
                flex-basis: 100%;
                padding-right: 0;
                margin: 7px 0;
            }
            &.reg{
                input[type=text]{
                    padding-left: 60px;
					text-transform: uppercase;
                }
            }
            label {
                color: #fff;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
            &.value-btn {
                flex-basis: 17%;
                text-align: right;
                padding-right: 0;
                display: flex;
                align-items: flex-end;
                @include mx-desktops{
                    flex-basis: 20%;
                }
                @include all-below-med{
                    flex-basis: 100%;
                }
                .boxed-btn {
                    padding: 0;
                    height: 55px;
                    line-height: 52px;
                    text-align: center;
                    border: 2px solid transparent;
                    @extend %primary-bg-color;
                    min-width: auto;
                    width: 100%;
                    @include all-below-med{
                        height: 48px;
                        line-height: 46px;
                    }
                    &:hover{
                        @extend %primary-border-color;
                        background: transparent;
                        @extend %primary-color;
                    }
                }
            }
            input[type=text] {
                width: 100%;
                height: 55px;
                line-height: 55px;
                border: 2px solid #fff;
                background: transparent;
                color: #fff;
                @include all-below-med{
                    height: 48px;
                    line-height: 48px;
                    padding: 8px 20px;
                }
            }
            ::-webkit-input-placeholder { 
                color: #fff;
            }
            ::-moz-placeholder { 
                color: #fff;
            }
            :-ms-input-placeholder {
                color: #fff;
            }
            :-moz-placeholder { 
                color: #fff;
            }
        }
    }
}

// .how-it-works 
.how-it-works-section{
    padding: 40px 0 0;
    .how-it-works {
        width: 1020px;
        margin: 0 auto;
        background-size: contain;
        background-repeat: no-repeat;
        height: 413px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 110px;
        @include mx-desktops{
            width: 930px;
        }
        @include all-below-med{
            flex-wrap: wrap;
            background-image: none !important;
            width: 100%;
            height: auto;
            margin-bottom: 30px
        }
        .single-work {
            flex-basis: 27%;
            text-align: center;
            padding: 45px 30px 20px 30px;
            @include all-below-med{
                flex-basis: 100%;
                border: 7px solid;
                border-image-source: linear-gradient(45deg, #FF5D00, #1873EF);
                border-image-slice: 1;
                margin-bottom: 30px;
                padding: 30px;
            }
            h4 {
                font-size: 21px;
                text-transform: uppercase;
                margin: 0 0 10px;
            }
            .icon {
                width: 90px;
                height: 80px;
                display: block;
                background: #fff;
                border-radius: 20px;
                margin: 0 auto;
                margin-bottom: 20px;
                line-height: 80px;
                text-align: center;
            }
            .step {
                width: 150px;
                height: 40px;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                @extend %secondary-bg-color;
                display: block;
                margin: 0 auto;
                line-height: 40px;
                color: #fff;
                border-radius: 50px;
                margin-bottom: 26px;
            }
        }
    }
}


// value-vehicle-section
.value-vehicle-section{
    margin-bottom: 80px;
    @include all-below-med{
        margin-bottom: 60px;
    }
    .section-title-2 {
        text-transform: uppercase;    
    }
    @include all-below-med{
        .text-right{
            text-align:center !important;
        }
        img{
            margin-bottom: 15px;
        }
        text-align: center;
    }
}

// .options-choices-section
.options-choices-section {
    margin-bottom: 130px;
    @include all-below-med{
        margin-bottom: 70px;
    }
    .section-title-2 {
        margin-bottom: 60px;
        @include all-below-med{
            margin-bottom: 40px;
        }
    }
    .options-choices-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        background: #fff;
        margin-bottom: 90px;
        @include all-below-med{
            grid-gap: 20px;
            margin-bottom: 40px;
        }
        @include all-below-mobile-lg{
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 0px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        .single-box.bg {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 0;
            margin-top: -30px;
            margin-bottom: -30px;
            @include all-below-med{
                margin: 0;
            }
        }
        .single-box {
            min-height: 290px;
            padding: 30px 0 30px 30px;
            @include all-below-med{
                padding: 20px 0 20px 20px;
            }
            @include all-below-mobile-lg{
                padding: 20px;
                text-align: center;
            }
            &:last-child{
                padding-left: 0;
                padding-right: 30px;
                @include all-below-med{
                    padding-right: 20px;
                }
                @include all-below-mobile-lg{
                    padding-left: 20px;
                }
            }
            h2 {
                font-size: 30px;
                color: #fff;
                font-weight: 600;
                text-align: center;
                background: #00000090;
                padding: 17px 0px;
                @include all-below-med{
                    font-size: 24px;
                }
            }
        }
    }
}




.steps-content-wrapper{
    // .steps-navigation
    .steps-navigation {
        display: flex;
        justify-content: space-between;
        background: #000000;
        color: #fff;
        border-radius: 5px;
        border: 2px solid #EF233C;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 60px;
        @include all-below-med{
            margin-bottom: 40px;
        }
        @include all-below-mobile-lg{
            font-size: 16px;
        }
        @include all-mx-mobile{
            display: block;
            text-align: center;
        }
        li a {
            padding: 14px 40px;
            position: relative;
            color: #fff;
            @include all-below-med{
                padding: 10px 30px;
            }
            @include all-below-mobile-lg{
                font-size: 16px;
                padding: 10px 10px;
            }
            @include all-mx-mobile{
                width: 100%;
            }
            &.active {
                @extend %secondary-bg-color;
                &:after, &:before {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    @extend %secondary-bg-color;
                    content: "";
                    transform: rotate(45deg);
                    margin: 0 auto;
                    bottom: -9px;
                    @include all-mx-mobile{
                        bottom: -8px;
                    }
                }
                &:before {
                    right: -8px;
                    left: auto;
                    top: 20px;
                }
            }
            &:last-child:before{
                display: none;
            }
        }
    }
    .steps-content {
        background: #fff;
        border-radius: 20px;
        box-shadow: 0px 0px 30px -5px #ccc;
        @include all-below-med{
            padding: 30px;
        }
        @include all-below-mobile-lg{
            padding: 30px 15px;
        }
        .steps-content-inner {
            border-bottom: 1px solid #CCCCCC;
            margin-left: 0;
            margin-right: 0;
            &.valuation-lockup-car{
                img{
                    @include mx-desktops{
                        max-width: 400px;
                    }
                }
            }
            .vehicle-text {
                padding: 60px 60px 60px 80px;
                border-left: 1px solid #CCCCCC;
                font-size: 18px;
                @include mx-desktops{
                    padding: 40px 30px 40px 40px;
                }
                @include all-below-med{
                    padding: 30px 0px 30px 0px;
                    border-left: 0;
                    text-align:center;
                }
                h4 {
                    @extend %secondary-color;
                    text-transform: uppercase;
                    font-size: 20px;
                    margin: 0 0 8px;
                }
                a {
                    @extend %secondary-color;
                    font-weight: 700;
                }
            }
        }
        .steps-icons {
            margin-left: 0;
            margin-right: 0;
            padding: 20px 30px;
            @include all-below-mobile-lg{
                padding: 20px 0px;
                .col-sm-6{
                    width: 50%;
                }
            }
            img {
                position: absolute;
                left: 15px;
                top: 24px;
            }
            h6 {
                font-weight: 500;
                color: #000;
                margin: 20px 0 20px 45px;
                line-height: 1.5;
                span {
                    font-size: 80%;
                    text-transform: uppercase;
                    display: block;
                    font-weight: 300;
                    color: #969696;
                }
            }
        }
    }

}





.steps-content-wrapper {
    .steps-content.your-details-form {
        padding: 35px;
        font-size: 14px;
        .single-form-item {
            height: 74px;
            border-bottom: 1px solid #ACACAC;
            margin-bottom: 35px;
            label {
                color: #000000;
                font-size: 15px;
                font-weight: 900;
                text-transform: uppercase;
                margin: 0;
            }
            .nice-select {
                padding-left: 0;
                text-transform: capitalize;
                font-size: 14px;
            }
            input {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
            .star {
                @extend %secondary-color;
            }
        }
        input[type=checkbox]+label:before {
            border: 1px solid #D7D7D7;
            width: 30px;
            height: 30px;
            font-size: 20px;
            padding: 9px 0 0 1px;
            margin: -4px 8px 0 0;
        }
        .terms-condition-check {
            label{
                margin-right: 3px;
            }
        }
        .contact-checks {
            margin-bottom: 8px;
            li {
                display: inline-block;
                margin-right: 80px;
                @include all-below-med{
                    margin-right: 20px;
                }
                @include all-mx-mobile{
                    display: block;
                    margin: 8px 0;
                }
            }
        }
        .link {
            @extend %secondary-color;
            font-weight: 600;
        }
        .gray-bg {
            padding: 20px;
            border-radius: 8px;
            margin: 10px 0 20px;
        }
    }
    .boxed-btn{
        @include all-below-mobile-lg{
            min-width: auto;
            padding: 12px 15px;
            i{
                display:none;
            }
        }
        &.back {
            padding: 15px 28px 15px 45px;
            text-align: right;
            background: #787878;
            border-color: #787878;
            @include all-below-mobile-lg{
                min-width: auto;
                padding: 12px 15px;
            }
            &:hover{
                @extend %primary-bg-color;
            }
            i {
                right: auto;
                left: 28px;
            }
        }
    }
}

.vehicle-valuation {
    .colored-bg {
        margin-left: 0;
        margin-right: 0;
        @extend %secondary-bg-color;
        padding: 40px 60px;
        border-radius: 0 0 10px 10px;
        color: #fff;
        @include all-below-med{
            padding: 20px 15px;
        }
        @include all-below-mobile-lg{
            text-align: center;
            .text-right{
                text-align: center !important;
                margin-top: 15px;
            }
        }
        h2 {
            font-size: 36px;
            font-weight: 300;
            text-transform: uppercase;
            @include all-below-med{
                font-size: 26px;
            }
        }
        .price-tag {
            font-size: 48px;
            font-weight: 700;
            @include all-below-med{
                font-size: 40px;
            }
        }
        .boxed-btn {
            border: 2px solid #fff;
            margin-right: -6px;
            margin-bottom: 30px;
            &:hover {
                border-color: #000;
            }
        }
    }
}

.part-exchange-car img { margin-top: 30px; width:80%; }

#valTabs { display: none; }

#pxVal #errorMsg, #valTabContent #errorMsg { width: fit-content; padding: 4px 8px; display:none; margin-bottom: 10px; border-radius: 5px; padding: 3px 10px; }
#pxVal #errorMsg { color: #ef233c; background-color: #fff; margin-left: 50px;  }
#valTabContent #errorMsg { color: #fff; background-color: #ef233c;  }

