// .brand-carousel-area
.make-carousel-area {
    box-shadow: 0px 2px 25px -3px #ccc;
    @extend %white-bg-color;
    position: relative;
    padding: 10px;
	.single-brand-item{
        @extend %white-bg-color;
        height: 180px;
		background-color: unset;
        z-index: 2;
        background-position: center;
        background-size: cover;
        background-color: #ddd;
        @include all-below-mobile-lg{
            height: 140px;
        }
        &::after{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            content: "";
            z-index: -1;
            opacity: .6;
            transition: all .5s ease;
        }
        &:hover::after{
            opacity: 0;
        }
        img{
            max-width: 150px;
            @include all-mx-mobile{
                max-width: 80px;
            }
        }
    }
    .owl-nav {
        div{
            left: 9px;
            width: 45px;
            background: transparent;
            border-color: #fff;
            color: #fff;
            &:hover{
                background-color: #000;
            }
            &.owl-next{
                right: 9px;
                left: auto;
            }
        }
    }
}